<h1>Magic Cards</h1>

<div>
    <label for="user_textbox">Cartas: Nome</label>
    <textarea id="user_textbox" rows="12"
    [(ngModel)] ="parametro.cardname"></textarea>
</div>

<button (click) = "getCards()">Get Cards</button>
<div *ngIf="cards">
    <ul class="cards">
        <li *ngFor="let card of cards">
            <span class="Card">{{card.name}}</span>
            <br>
            <span class="CMC">{{card.cmc}}</span>
            <br>
            <img src={{card.imageUrl}}>
            <br>
            <span *ngFor="let color of card.colors">{{color}} </span>
            <br>     
        </li>
    </ul>  
</div>
<div *ngIf="parametro.cardname">
    <h1>{{ parametro.cardname }}</h1>
</div>